


.main{
	margin:7em auto 0;
	width:80%;
	background: #fff;
}
.header {
	text-align:center;
	padding:1.3em;
}
.header h1 {
	color:#c91e1e;
	font-weight:700;
	font-size:22px;
}
.main p{
	text-align: center;
	font-size:15px;
	font-weight:600;
	color:#373837;
	padding: 20px 30px;
	border-bottom: 1px solid #E7E0E0;
	margin-top: -13px;
}
.main h2,.main h3{
	text-align:left;
	font-size:17px;
	font-weight:600;
	margin:15px 3px;
	color:red;
}

.left-form,.right-form{
	float:left;
	margin:22px 28px;
	width:40%;
}
.left-form input[type=text],.left-form input[type=email],.left-form input[type=password] {
	float:left;
	font-family: 'Open Sans', sans-serif;
	width:80%;
	padding: 0.7em 2em 0.7em 1em;
	border:none;
	
	font-size:15px;
	float: left;
	outline: none;
}
.right-form{
	float:right;
}
form{
	padding-bottom: 2em;
}
.right-form li{
	display:block;
	color:#4D4949;
	border:1px solid #EBEBEB;
	border-radius: 0.3em;
	-webkit-border-radius:0.3em;
  	-moz-border-radius:0.3em;
 	 -o-border-radius:0.3em;
 	 margin-bottom: 10px;
}
.right-form input[type=text], input[type=password] {
	font-family: 'Open Sans', sans-serif;
	width:90%;
	padding: 0.7em 1em 0.7em 1em;
	color:#000;
	font-size: 15px;
	border:none;
  	outline:none;

}
.left-form li{
	display:block;
	color:#4D4949;
	border:1px solid;
	border-radius: 0.3em;
	-webkit-border-radius:0.3em;
  	-moz-border-radius:0.3em;
 	 -o-border-radius:0.3em;
 	 margin-bottom: 10px;
}
.icon
{
	height:28px;
	width:28px;

	display: block;
	float: right;
	margin: 7px 9px 9px 0px;
}

.left-form submit{
	float:left;
}
.right-form submit{
	float:right;
}
.main h4{
	float: left;
	font-size:13px;
	font-weight: 600;
	color:#d60707;
}
.left-form input[type=submit]{
  padding:10px 19px;
  border-radius:0.3em;
 -webkit-border-radius:0.3em;
  -moz-border-radius:0.3em;
  -o-border-radius:0.3em;
   color:#4D4949;
  background:#F3F3F3;
  border:1px solid #EBEBEB;
  font-weight:bold;
  font-size:15px;
  outline:none;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  margin-top:15px;
  cursor: pointer;
}
.right-form input[type=submit]{
  float:left;
  padding:8px 19px;
  border-radius:0.3em;
  border:none;
  outline:none;
  -webkit-border-radius:0.3em;
  -moz-border-radius:0.3em;
  -o-border-radius:0.3em;
  font-weight:bold;
  font-size:15px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  margin: 2em -9em;
  cursor: pointer;
}
 input[type=submit]:hover {
 background:#2E2D2D;
 color:#fff;

}
.h2{
	color:red;
	text-align:center;
}
.but1{
	background-color: red;
	text-align: center;
	
}
.error{
	color:red;
}
